@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600&display=swap');

html{
    box-sizing: border-box;
}

body{
    box-sizing: inherit;
    font-family: Outfit;
}

.clearfix{
    overflow: auto;
}

#container{
    margin: 0 auto;
    max-width: 350px;
}

.right-align{
    text-align: right;
}

h1{
    font-family: 'JetBrains Mono', monospace;
    font-size: 10em;
    font-weight: 800;
}

h2{
    font-family: 'JetBrains Mono', monospace;
    font-size: 4em;
    font-weight: 800;
    line-height: 15px;
}

h3{
    font-family: Outfit, sans-serif;
    font-weight: 800;
    font-size: 2em;
}

h4{
    font-family: Oswald, sans-serif;
    font-weight: 500;
    font-size: 1.3em;
}

h5{
    font-size: 1em;
    margin-bottom: -10px;
}

h6{
    font-size: 1.1em;
    font-weight: 500;
}

img{
    width: 120%;
    position: relative;
    left: -10%;
}

#but{
    margin: 200px 50px;
}

.quote{
    margin: 100px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.quote div{
    width: 10%;
    height: 100%;
    padding: 8px;
}

.quote img{
    width: 15px;
    float: right;
}

.quote h4{
    width: 80%;
    margin: 0;
}

.quote p{
    padding-left: 15%;
    margin: 5px 0;
}

#studio-rotate{
    display: flex;
    flex-wrap: wrap;
}

#studio-rotate p{
    margin: 100px 0 20px 0;
}

#achieving{
    margin: 200px 0;
    font-size: 0.8em;
}

#white-space{
    margin: 200px 0;
}

#white-space h2{
    line-height: 100px;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    padding: 0 25px;
}


#articles article{
    display: flex;
    flex-wrap: wrap;
}

#articles p{
    margin: 50px 0;
}

#repos{
    order: -1;
}

.extra{
    margin: 100px 0;
}

.extra-half{
    margin-top: 100px;
}

.less{
    margin-bottom: 0;
}

#be-bold{
    width: 120%;
    position: relative;
    left: -20%;
}

.bigger{
    text-align: center;
    font-size: 3.5em;
}

.smaller{
    text-align: center;
    font-size: em;
}

#combine{
    display: flex;
    justify-content: space-around;
    margin-top: -75px;
}

#setup{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
}

#setup div{
    display: flex;
    width: 50%;
    justify-content: center;
}

#setup img{
    width: 20%;
    padding-left: 20px;
    left: 0;
}

@media screen and (min-width: 650px) and (max-width: 1200px){
    #container{
        max-width: 550px;
    }
}

@media screen and (min-width: 1200px){
    #container{
        max-width: 900px;
    }
}